.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #1a5d1a;
}

.nav > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;

  text-shadow: 2px 2px 2px black;
}

.nav > a:hover {
  background-color: #f1c93b;
  border-radius: 10px;
}
