.product {
    display: inline-block;
    margin: 5px 7px;
    border: 1px solid #6a6a6a;
    width: 240px;
    height: 340px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product:hover {
    border: 1px solid  chocolate;
}

.product > img {
    padding: 10px;
}

.product .prices {
    display: flex;
}

.product .prices label {
    flex: 1;
}